.navbar-items {
  color: #fff;
  /* font-family: Work Sans; */
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  list-style: none;
  margin-top: 17px;
}

.navbar-items:nth-child(3) {
  font-weight: 500;
  border: 1px solid var(--Grey-scale-000, #fff);
}

.navbar-container {
  display: flex;
  gap: 106px;
  padding-left: 137px;
}

.products-items {
  list-style: none;
  color: #fff;
  /* font-family: Work Sans; */
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}
